body {
    background-color: #fffaf4;
}

.swiper {
    
    height: 100%;
    border-radius: 20px;
    margin-top: 30px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #00470f;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

  .swiper-slide h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
  }


.cl-4 {
  background-color: #cee4b5;

  h1{
    font-family: "Inter", sans-serif;
    color: #00470f;
    font-weight: 700;
  }
  
}


.s5 h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;

}

.s6{
  font-family: "Inter", sans-serif;
  span {
    color: #cee4b5;
    
  }
  p {
    color: white;

  }
}

.s8 {
  font-family: "Inter", sans-serif;
  button {
    

    background-color: #77af38;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: none;
  }

  h1 {
    color: #00470f;
    font-weight: 700;
  }

  span {
    color: black;
    font-weight: 700;
  }
}

.s9 {
  font-family: "Inter", sans-serif;

  h1 {
    font-weight: 700;
  }
}

.s10 {
  font-family: "Inter", sans-serif;

  p{
    font-weight: 600;
    text-align: center;
    color: #00470f;
    
  }
 
}